<div class="row">
  <div class="nav-panel">
    <button type="button" class="btn btn-default btn-lg">На главную</button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      Назад
    </button>

    <div class="pull-right">
      <button type="button" class="btn btn-default btn-lg" <%= "onclick='loadPage(#{page-1})'" if page > 0 %>>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <%= page.to_i + 1 %> из <%= total %>
      <button type="button" class="btn btn-default btn-lg" <%= "onclick='loadPage(#{page+1})'" if page < total %>>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <table class="table">
    <% articles.each_with_index do |item, index| %>
        <td>
          <%= erb :category, locals: item if item[:is_group] == 1 %>
          <%= erb :item, locals: item if item[:is_group] == 0 %>
        </td>

        <%= '</tr>' if index.modulo(3) == 2 %>
    <% end %>
  </table>
</div>