<div class="row">
  <div class="nav-panel">
    <button type="button" class="btn btn-default btn-lg">На главную</button>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      Назад
    </button>

    <div class="pull-right">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <table class="table">
    <tr>
      <td><%= erb :item, locals: {title: 'Голубцы'} %></td>
      <td><%= erb :category, locals: {title: 'Супы'} %></td>
      <td><%= erb :category, locals: {title: 'Салаты вообще супермега вкусные есь жи'} %></td>
    </tr>

    <tr>

      <td><%= erb :item, locals: {title: 'Пельмени'} %></td>
      <td><%= erb :item, locals: {title: 'Плов обычный но немного необычный'} %></td>
      <td><%= erb :item, locals: {title: 'Ля макароны ля c фаршем'} %></td>
    </tr>

    <tr>
      <td> <%= erb :category, locals: {title: 'Первые блюда'} %></td>
      <td> <%= erb :category, locals: {title: 'Вторые блюда'} %></td>
      <td> <%= erb :category, locals: {title: 'Третьи блюда'} %></td>
    </tr>

    <tr>
      <td> <%= erb :category, locals: {title: 'Четвертые блюда'} %></td>
      <td> <%= erb :category, locals: {title: 'Пятые блюда'} %></td>
      <td> <%= erb :category, locals: {title: 'Шестые блюда'} %></td>
    </tr>

  </table>
</div>