<button class="btn btn-default btn-stretched thumbnail-fixed" onclick="addArticle('<%= name %>', '<%= code %>', <%= price %>)">
  <h5 class="text-center"><%= name %></h5>

  <p>Цена: <strong> <%= price %> тг. </strong></p>
</button>
