<button class="btn btn-default btn-stretched thumbnail-fixed " onclick="addArticle('<%= name %>', '<%= code %>', <%= price %>)">
  <p class="item-text"><%= name %></p>

  <p class="item-text">Цена: <strong> <%= price %> тг. </strong></p>
</button>
